
body {
    background: #203;
}

#canvas {
    display: block;
    margin: auto;
    border: solid 1px black;
}


#controls {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;

    /* stop padding from breaking width: 100%.
    See: https://stackoverflow.com/a/12034794 */
    box-sizing: border-box;

    background: #eee;
}


.material {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px;
    padding: 2px;
    border: solid 1px #999;
    text-align: center;
    cursor: pointer;
}

.material.selected {
    border: solid 2px #333;
    font-weight: bold;
}
